html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
    font-family: Arial, sans-serif;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Full screen width */
    height: 100vh; /* Full screen height */
    object-fit: cover; /* Cover entire viewport */
    z-index: -1; /* Send the image to the background */
}

.card {
    text-align: center;
    border-radius: 10px; /* Rounded corners */
    
}

h1 {
    font-size: 90px;
    color: #f70505; /* Dark text color */
    margin: 0;
    font-weight: bold; /* Bold text */
    text-shadow: 
     -2px -2px 0 rgb(0, 0, 0),  
     2px -2px 0 rgb(0, 0, 0),
     -2px  2px 0 rgb(0, 0, 0),
     2px  2px 0 rgb(0, 0, 0),
        20px 20px 20px rgb(255, 255, 255); 
}
.link1 {
    position: absolute; 
    bottom: 300px; 
    left: 34%; 
    text-align: center; 
}
.link1 a {
    color: rgb(255, 255, 255); 
    font-size: 18px; 
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: rgba(250, 32, 32, 0.712); 
}
.link2 {
    position: absolute; 
    bottom: 300px; 
    right: 36%; 
    text-align: center; 
}
.link2 a {
    color: rgb(255, 255, 255); 
    font-size: 18px; 
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: rgba(250, 32, 32, 0.712); 
}